@import url("https://fonts.googleapis.com/css2?family=Mali:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Handlee&display=swap");

body {
 
  background-color: rgba(250, 225, 247, 0.753);
  width: 100%;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}
.firtsPage {
  
  width: 100%;
  height: 90vh;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.imgBackground {

  background-image: url("./data/Img/fondohomecel.jpg");
  background-position: center center;
  background-size: 100% 100%, 100% 100%;
  width: 100%;
  height: 97%;
  top: 0%;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1;
}

.titlePage {

  position: relative;
  top: 6%;
  left: 20%;
  width: 60%;
  height: 10%;
  margin: 0;
}
#titleFirstPage {

  position: absolute;
  width: 100%;
  height: 100%;
}
.containers {

  width: 70%;
  height: 42%;
  margin-left: 41%;
  margin-top: 22%;
  display: flex;
  align-items: center;
}

.navigationMenu {
  
  width: 60%;
  height: 100%;
  margin: 0%;
  margin-top: 0%;
  margin-left: 16%;
}
.menuButtons {

  font-size: 13px;
  font-weight: 700;
  font-family: "Handlee", cursive;
  border-radius: 20px 20px;
  padding: 3%;
  width: 100%;
  height: 15%;
  box-shadow: 2px 5px 6px rgb(154, 213, 236);
  color: #655c61;
}
#buttonOne {

  margin-top: 7%;
  margin-bottom: 5%;
  background: #f2d6a2d0;
  border: 2px inset #dab879d7;
  padding-top: 1%;
}
#buttonTwo {

  margin-top: 5%;
  margin-bottom: 5%;
  background: #f2d6a2d0;
  border: 2px inset #dab879d7;
}
#buttonThree {

  margin-top: 5%;
  margin-bottom: 5%;
  background: #f2d6a2d0;
  border: 2px inset #dab879d7;
  padding-top: 1%;
}
#buttonFour {

  margin-top: 5%;
  margin-bottom: 5%;
  background: #f2d6a2d0;
  border: 2px inset #dab879d7;
}

.titleFirstPage {

  width: 100%;
  height: 15%;
}
.sectionFooter {
  
  width: 100%;
  height: 10vh;
  background-color: rgb(2, 3, 58);
}

#authors {
  
  position: fixed;
  vertical-align: middle;
  font-family: "Handlee", cursive;
  color: rgb(154, 213, 236);
  top: 92.5%;
  font-weight: 100;
  font-size: 13px;
  right: 5%;
}
.socialMediaIcons1 {
  
  display: flex;
  position: fixed;
  flex-direction: row;
  width: 35%;
  height: 5%;
  top: 93%;
  left: 5%;
  gap: 5px;
}

#firtsPage1 {
  display: block;
}

/* desde aqui diseño segunda página*/

.pageSecond {
  display: flex;
  display: none;
  position: absolute;
  width: 100%;
  height: 90vh;
}

#principalMenu {
  
  background-image: url(./data/Img/vectormenu2.jpg);
  height: 9%;
}
#principalMenuPage3{
  background-image: url(./data/Img/vectormenu2.jpg);
  height: 9%;
  display:none;
}

.titleSecond {
  
  margin-top: 5px;
  margin-left: 3px;
  display: flex;
  position: absolute;
}
.titleSecond3{
  margin-top: 10px;
  margin-left: 30px;
  display: flex;
  position: absolute;
}

#titlesecondPage {
  
  max-width: 40%;
}

#containerHomePage {
  display: flex;
  position: fixed;
  max-width: max-content;
  min-width: min-content;
  left: 86%;
  top: 4%;
}

#buttonhome {

  border-radius: 5px;
  background: rgb(250, 225, 247);
  font-family: "Handlee", cursive;
}
.homepage3{
  border-radius: 5px;
  background: rgb(250, 225, 247);
  font-family: "Handlee", cursive;
  display: flex;
  position: absolute;
  top:2%;
  left:90%;
}

#search {

  position: relative;
  font-family: "Handlee", cursive;
  border-radius: 7px;
  background: rgb(250, 225, 247);
  box-sizing: border-box;
  max-width: 88%;
}

.searchPokemon {

  position: fixed;
  left: 50%;
  top: 1.5%;
}

.sectionFooter {
  
  position: fixed;
  bottom: 0%;
  z-index: 10;
}

.pokeball {
  
  width: 50%;
  height: 100%;
}

#root {

  
  background-color: transparent;
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: center;
  overflow-y: scroll;
  bottom: 10%;
  row-gap: 20px;
}

/* This container is needed to position the front and back side */
.madre {
  
  width: 30%;
  height: 30%;
  min-width: 230px;
  min-height: 270px;
  max-width: 250px;
  max-height: 300px;
  text-align: center;
  transition: transform 0.8s ease;
  transform-style: preserve-3d;
  margin: 45px 10px 0px 10px;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.madre:hover {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.containerDataCard,
.containerDataCardReverse {

  position: absolute;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side */
.containerDataCard {

  background-image: url(./data/Img/fondot5.jpg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
}

/* Style the back side */
.containerDataCardReverse {

  background-image: url(./data/Img/fondot3.jpg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  transform: rotateY(180deg);
}

.pokemonImg {

  position: absolute;
  bottom: 75%;
  
}
.namePokemon {

  text-transform: capitalize;
  font-size: 25px;
  font-family: "Handlee", cursive;
  position: absolute;
  top: 13%;
  
}
.numPokemon {

  position: absolute;
  top: 27%;
  font-size: 15px;
  font-family: "Handlee", cursive;
  
}
.typePokemonName {

  text-transform: capitalize;
  font-family: "Handlee", cursive;
  font-size: 20px;
  position: absolute;
  top: 60%;
  
}
.typePokeImg {

  width: 100%;
  height: 18%;
  margin-top: 0;
  margin-bottom: 0;
}
.containerTypeImg {
  solid: 2px solid red;
  position: absolute;
  top: 80%;
  
}
.sizeTittle {

  font-family: "Handlee", cursive;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 0;
}

.tableSize {

  font-family: "Handlee", cursive;
  position: absolute;
  top: 45%;
}

/*estilos reverso de la tarjeta*/

.tittleResist {

  top: 15%;
  position: absolute;
  font-family: "Handlee", cursive;
  font-size: 20px;
  color: rgb(8, 2, 34);
}

.containerResistantImg {

  position: absolute;
  top: 35%;
  padding: 1%;
}

.tittleWeak {

  font-family: "Handlee", cursive;
  font-size: 20px;
  color: rgb(8, 2, 34);
  position: absolute;
  top: 43%;
}

.containerWeakImg {

  position: absolute;
  top: 61%;
}

.pokemonImgReverse {

  transform: scaleX(-1);
  position: absolute;
  bottom: 75%;
  
}

.tablePokemonStats {

  font-family: "Handlee", cursive;
  color: rgb(8, 2, 34);
  position: absolute;
  top: 78%;
}



.filterGeneral{
  /* border: 2px solid red; */
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 1px;
  right: 50px;
  gap: 1px;
  
  
}

#selectTypePokemon, 
#selectGenerationPokemon{
  width: 50px;
  border-radius: 5px;
  background: rgb(250, 225, 247);
  font-family: "Handlee", cursive;
  
}

#selectAzPokemon{
  border-radius: 5px;
  background: rgb(250, 225, 247);
  font-family: "Handlee", cursive;
}
  

 /* media query para pantallas grandes  */

 @media (min-width: 600px){
  
  
  .imgBackground{
    background-image: url(./data/Img/Group\ 9.png);
    height: 100%;
    width: 50%;
    
  }
    
  #titleFirstPage{
    display: flex;
    position: relative;
    height: 70px;
    width: 300px;
    left: 21%;
    bottom: 30%;
    
    
  }
  
  .navigationMenu{
    position: absolute;
    justify-items: center;
    border-radius: 10px;
    background-color: rgba(204, 178, 178, 0.301);
    /* border: 2px solid red; */
    top: 15%;
    left: 45%;
    height: 57%;
    width: 25%;
    padding: 15px;
    

  }
  
  #buttonOne, #buttonTwo, #buttonThree, #buttonFour{
    background-color: rgb(2, 3, 58);
    font-size: 15px;
    font-weight: 50;
    color:rgb(154, 213, 236) ;
    margin-top: 4%;
    margin-bottom: 5%;
    
  }

 }
 .pageThird{
   margin-top:20px;
   display: flex;
   position: absolute;
   align-items: center;
   left: 33%;
 }
 #containerStatistics{
   display: flex;
   display:none;
   position: relative;
   height: 500px;
   width:500px;
  
 }